<div class='contact-us canvas'>
  <div class='canvas-text'>
    <h1>Contact Us</h1>
  </div>
</div>
<div class="contact-us-main">
  <h1>Questions? Requests?</h1>
  <div class="horizontal-line-short"></div>
  <p>If you'd like to order lumber or start a conversation, please fill out the contact form below and we'll respond to you soon.</p>
  <form class="contact-us-form">
    <input required title="First Name" id="firstName" type="text" name="firstName" placeholder="First Name*" min="2">
    <input required title="Last Name" id="lastName" type="text" name="lastName" placeholder="Last Name*" min="2">
    <input required title="Email Address" id="emailAddress" type="email" name="emailAddress" placeholder="Email Address*" min="4">
    <input required title="Phone Number" id="phoneNumber" type="tel" name="phoneNumber" placeholder="Phone Number*" min="10">
    <textarea required title="Contact Message" id="contactMessage" type="text" name="contactMessage" placeholder="Your message here..." minlength="20"></textarea>
  </form>
</div>
<div class='contact-us canvas'>
  <div class='canvas-text'>
  </div>
</div>
