* {
  box-sizing: border-box;
  font-family: 'Raleway', 'Helvetica Neue', Arial, sans-serif;
  user-select: none; }

html,
body {
  max-width: 100%;
  overflow-x: hidden; }

html {
  height: 100%; }

body {
  height: 100%;
  margin: 0;
  min-height: 100%;
  padding: 0; }

a {
  color: #43a047;
  text-decoration: none; }

.container {
  display: grid;
  grid-template: auto 300px auto 300px auto auto / 1fr;
  height: 100%;
  min-height: 100%; }

.header {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid #d3d3d3;
  color: #43a047;
  display: flex;
  grid-template-columns: 1fr 1fr;
  position: sticky;
  top: 0;
  user-select: none; }
  .header .brand-logo-letter {
    display: none; }
  .header .brand-logo-full {
    display: flex;
    padding-bottom: 10px;
    padding-top: 10px; }
  .header .nav-title {
    flex: 1;
    font-size: 40px;
    justify-items: center; }
  .header .nav-menu ul {
    padding: 0; }
  .header .nav-menu li {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
    display: inline;
    margin: 5px;
    padding: 10px;
    transition: .2s border ease-in, .1s color ease-in, .1s background-color ease-in; }
    .header .nav-menu li:hover {
      border: 1px solid #d3d3d3; }
    .header .nav-menu li:active {
      border: 1px solid #43a047; }
      .header .nav-menu li:active a {
        color: #43a047; }
  @media (max-width: 960px) {
    .header {
      display: block;
      text-align: center; }
      .header .brand-logo-full {
        display: none; }
      .header .brand-logo-letter {
        display: inline;
        padding-top: 10px; } }

.sustainable-forestry {
  background: url("../img/backgrounds/forest_background_large.jpeg") fixed center/cover; }

.business-services {
  background: url("../img/backgrounds/wood_grain_large.jpeg") fixed center/cover; }

.contact-us {
  background-image: url("../img/backgrounds/rampart_lakes_forest_sunset.jpg");
  background-size: cover;
  background-position: center; }

.canvas {
  align-content: center;
  align-items: center;
  display: grid;
  grid-template-rows: 1fr;
  justify-items: center; }

.canvas-text {
  color: #fff;
  font-size: 2em;
  font-weight: bolder;
  text-align: center; }

.description-grid {
  align-items: start;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center; }

.text {
  max-width: 600px;
  padding: 10px;
  text-align: center; }

.image {
  max-height: 250px;
  max-width: 250px;
  min-height: 250px; }

.image-grid {
  align-items: end;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
  text-align: center; }
  .image-grid a {
    color: #000; }

.image-container {
  max-width: 250px; }

.contact-us-main {
  display: grid;
  text-align: center;
  align-content: center;
  justify-content: center;
  margin: 10px; }

.horizontal-line-short {
  width: 100px;
  height: 1px;
  margin: 10px;
  background-color: #d3d3d3;
  justify-self: center; }

.contact-us-form {
  display: grid;
  grid-gap: 10px;
  grid-template-areas: "first last" "email phone" "message message";
  grid-template-columns: minmax(100px, 1fr) minmax(100px, 1fr);
  grid-template-rows: 50px 50px 300px;
  justify-content: center; }
  .contact-us-form input, .contact-us-form textarea {
    outline: none;
    font-size: medium;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #d3d3d3;
    resize: none; }
  .contact-us-form input:focus:required:invalid {
    border: 1px solid darkred; }
  .contact-us-form input:valid {
    border: 1px solid #00701a; }
  .contact-us-form #firstName {
    grid-area: first; }
  .contact-us-form #lastName {
    grid-area: last; }
  .contact-us-form #emailAddress {
    grid-area: email; }
  .contact-us-form #phoneNumber {
    grid-area: phone; }
  .contact-us-form #contactMessage {
    grid-area: message; }

.footer {
  align-self: end;
  border-top: 1px solid #d3d3d3;
  color: #00701a; }

.footer-copyright {
  color: #000;
  font-size: 12px;
  margin: 10px; }

/*# sourceMappingURL=style.css.map */