// https://material.io/color/#!/?view.left=0&view.right=0&primary.color=43A047
$invisible: rgba(0, 0 , 0 , 0);
$light-grey: #d3d3d3;
$white: #fff;
$primary-green: #43a047;
$dark-green: #00701a;

* {
  box-sizing: border-box;
  font-family: 'Raleway', 'Helvetica Neue', Arial, sans-serif;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  min-height: 100%;
}

.container {
  display: grid;
  grid-template: auto 300px 1fr 300px 1fr auto / 1fr;
  height: 100%;
  min-height: 100%;
}

.header {
  position: sticky;
  top: 0;
  background-color: rgba(255,255,255,.9);
  align-items: center;
  display: flex;
  grid-template-areas: 'nav-title nav-menu';
  grid-template-columns: 50% 50%;

  border-bottom: 1px solid $light-grey;
  color: $primary-green;
  user-select: none;

  .nav-title {
    grid-area: nav-title;
    flex: 1;
    font-size: 40px;
  }

  .nav-menu {
    grid-area: nav-menu;

    ul {
      padding: 0;
    }
    li {
      display: inline;
      padding: 10px;
      margin: 5px;

      border: 1px solid $invisible;
      border-radius: 5px;
      transition: 0.2s border ease-in, 0.1s color ease-in, 0.1s background-color ease-in;
      &:hover {
        border: 1px solid $light-grey;
      }
      &:active {
        color: white;
        background-color: $primary-green;
      }
    }
  }

  @media (max-width: 960px) {
    display: block;
    text-align: center;
  }
}

.sustainable-forestry {
  background: url('../images/forest_background_large.jpeg') fixed;
  background-size: cover;
  align-content: center;
  justify-items: center;
}

.business-services {
  background: url('../images/wood_grain_large.jpeg') fixed;
  background-size: cover;
  align-content: center;
  justify-items: center;
}

.canvas {
  display: grid;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
}

.canvas-text {
  color: $white;
  font-size: 4em;
  font-weight: bolder;
  text-align: center;
}

.description-grid {
  align-items: start;
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
}

.text {
  max-width: 500px;
  padding: 10px;
  text-align: center;
}

.image {
  max-height: 200px;
  max-width: 200px;
  min-height: 200px;
}

.image-grid {
  padding-left: 1fr;
  padding-right: 1fr;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
  justify-items: center;
  text-align: center;
  align-items: end;
}

.image-container {
  max-width: 200px;
}

/* .icon-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.icon-column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
  vertical-align: middle;
}

@media (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
} */

.footer {
  border-top: 1px solid $light-grey;
  // background-color: $dark-green;
  color: $dark-green;
  align-self: end;
}
